@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300;500&display=swap');


body { 
  margin: 0;
  background-color:#f2d18040;
  background-image: url("./img/gallery/bg.png");
  color:#4b4a52;
}
html{
    font-size: 10px;
}
h1,h2,h3{
    font-weight: bold;
    color: #4b4a52;
    font-size: 3rem;
}

h1.title{
    padding-top: 2rem;
    color:#f69a38;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  overflow: hidden;
  background-color: #f3d07740;;
  flex-wrap: wrap;
  height: 10rem;
  background-image: url("./img/gallery/hero-header-bg.png");
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 20px;
    font-size: 20px;
}

.header a {
  float: left;
  color: #4b4a52;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 10px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #f9d57a;
  color: #4b4a52;
}

.header-right {
  float: right;
  flex-wrap: wrap;
}

@media screen and (max-width: 650px) {
  .wrapper{
    display: none;
  }

 .call_form{
    display: flex;
    flex-direction: column;
    padding: 5rem 5rem;
 }

 .map__form-wrap{
    display: flex;
    flex-direction: column;
    align-content: center;
 }

 .map__form-item{
   position: relative;
 }
}
.search{
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
i.bi {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-right: 36px;
    position: relative;
    z-index: 1;
    float: left;
  }
  
  i.bi + .search {
    padding-left: 26px;
  }

.btn{
    background-color:#f69a38;
    color:#fff;
    border: none;
    text-decoration: none;
    border-radius:10px;
    height: 52px;
    cursor: pointer;
    float: right;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;   
}
.btn-dark{
    height: 20px;
    font-size: 20px; 
    width: 20rem;   
}
.btn-light{
    border-color: #f69a38;
    background-color: transparent;
    color: #f69a38;
}
.btn-light:hover{
    
    color:  #f69a38;
    border: 1px solid #f69a38;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
    background-position: right;
    background-repeat:no-repeat;
    background-size:contain;
    background-image: url(./img/illustrations/hero.png)
}

.stage{
    margin-top: 10rem;
    display: flex;
    justify-content: space-between; 
}

.stage__content{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 40vw;
}

.stage__title{
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}
.stage__text{
    font-size: 2.2rem;
    margin-bottom: 4rem;
    width: 20vw;
}

.menu {
    padding: 40px 2rem 50px 2rem;
}

.menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
}
.menu .title {
    text-align: center;
}
.menu__field {
    
    margin-top: 50px;
    padding: 20px 0;
    width: 100%;
}
.menu__item {
    width: 320px;
    min-height: 450px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(250, 152, 23, 0.79);
    font-size: 16px;
    font-weight: 300;
    
}
  .menu__item img {
    padding-top: 2rem;
    width: 100%;
    height: 200px;
    object-fit:contain;
  }
.menu__item-subtitle {
    font-weight: bold;
    font-size: 18px;
    padding: 0 20px;
    margin-top: 20px;
}
.menu__item-descr {
    margin-top: 20px;
    padding: 0 20px;
    align-items: center;
}

.menu__item-btn {
    display: flex;
    padding: 2rem 10rem;
    align-items: center; 
}
  
.menu__container{
    width: 320px;
    min-height: 200px;
    font-size: 16px;
    font-weight: 300; 
    align-items:center;
   
}
.menu__container-subtitle{
    color:#f69a38;
    align-items: center;
}
.menu___field{
padding-left: 10rem;
}
.emphacise{
   text-align: center;
   background-image: url("./img/gallery/quote.png");
   background-repeat: no-repeat;
}
.emphacise-title{
    color:#f69a38
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
    outline:none;
}

input[type=submit] {
    background-color: #f69a38;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
label{
    font-size: 2rem;
}

input[type=submit]:hover {
    border-color:#f69a38;
}

.container {
    border-radius: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.call_form{
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}
.call_form_info{
    padding-left: 10rem;
}
.subscribe_form{
    display: flex;
    justify-content: space-between;
    padding: 5rem 10rem;
    background-color:#4b4a528b;
    margin-top: 5rem;
   
}
.subscribe__title{
    color: #fff;
    font-size: 4rem;
}
.subscribe__text{
    color: #fff;
    font-size: 2rem;
}
.subscribe_input{
    display: block;
    justify-content: center;
    padding-top: 5rem;
    

}
input[type=email]{
    height: 3rem;
    width: 40rem;
    border-radius: 4px; 
    outline: none;
    align-items:center
}
.navigator{
    display: flex;
    justify-content: space-between;
    background-color:#4b4a52c3;
}
.navigator__logo-form{
    padding-left: 10rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.navigator__links{
   
    display: flex;
    justify-content: space-between;
    
}
.navigator__links__item{
    padding: 5rem;
    align-items:center
}
.navigator__links-title{
    font-size: 2rem;
    padding-right: 3rem;
}
.link_s{
    font-size: 1.5rem;
    text-decoration: none; 
    color: #ccc; 
    
}
.link_s:hover{
   text-decoration: underline;
}
li{
    list-style-type:none;
    padding-left: -5rem;
}
.logo-form__text{
    font-size: 2rem;
}
.footer{
    background-color:#4b4a528b;
    height: 10rem;
}

.map__form-wrap{
    display: flex;
    justify-content:center;
    align-items:center;
}
.map__form-title{
    margin-top: 10rem;
    color:#f69a38;
    text-align: center;
}

.map__form-info{
    padding-right: 10rem;
    background-color:#ffffffc9;
    height: 45rem;
    width: 43rem; 
    
}
.map__form > h2{
    text-align: center;
}
.map-form-btn{
    background-color:#f69a38;
    color:#fff;
    border: none;
    text-decoration: none;
    border-radius:10px;
    height: 52px;
    cursor: pointer;
    padding: 1rem;
    text-decoration: none;
    font-size: 16px; 
}
.btn-center{
    padding-left: 60rem;
    padding-top: 5rem;
    align-items:center;  
}
.bi{
    padding-right: 1rem;
}
.form-info__text{
    font-size: 2rem;
    padding-left: 4rem;
}
.form-info__title{
    text-align: center;
}